body{
    margin: 0vw;
    padding: 0vw;
    overflow-x: hidden;
}

.responsive{
    width: 100%;
    height: auto;
}


.navigation{
    background-color: white;
   /* display: grid;
    grid-template-columns: 78.5vw 1vw;*/
    height: 6.9vh;
    width: 100vw;
}

.navigation .logo img{
    width: 6.6vh;
    padding-left: 1vw;
}

.navigation .logo{
    float: left;
    display: inline;
}

.nav-links{
    display: inline;
    float: right;
    font-family: 'Playfair Display', serif;
    font-size: 2.9vh;
    gap: 3vw;
    margin-top: 1.5vh;
}

a{
    color: black;
    text-decoration: none;
    margin-right: 2vw;
}

.main img{
    height: 100vh;
    object-fit: cover;
}


h2{
    position: absolute;
    top: 5%;
    font-family: 'Playfair Display', serif;
    font-size: 3vh;
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 35vh;
    text-align: justify;

}


@media screen and (min-width: 600px) {
    h2 {
      font-size: 4.5vh;
      margin-top: 1vh;
    }
  }
  
  @media screen and (max-width: 1000px) {
    h2 {
      padding: 10vw;
      margin-top: 25vh;
    }
}


.boxes{
    width: 100%;
    height: 93.1vh;
    background-color: white;
}

.boxes img{
    outline-style: solid;
    outline-width: 3px;
    outline-color: black;
}

.b1{
    width: 17%;
    height: auto;
    margin: auto;
    margin-top: 4vh;
    margin-left:10%;
    position: absolute;
}

.b2{
    width: 17%;
    height: auto;
    margin: auto;
    margin-left: 31%;
    margin-top: 4vh;
    position: absolute;
}

.b3{
    width: 17%;
    height: auto;
    margin: auto;
    margin-top: 4vh;
    margin-left: 52%;
    position: absolute;
}

.b4{
    width: 17%;
    height: auto;
    margin: auto;
    margin-top: 4vh;
    margin-left: 73%;
    position: absolute;   
}

.b5{
    width: 17%;
    height: auto;
    margin: auto;
    margin-top: 48vh;
    margin-left:10%;
    position: absolute;
}

.b6{
    width: 17%;
    height: auto;
    margin: auto;
    margin-left: 31%;
    margin-top: 48vh;
    position: absolute;
}

.b7{
    width: 17%;
    height: auto;
    margin: auto;
    margin-top: 48vh;
    margin-left: 52%;
    position: absolute;
}

.b8{
    width: 17%;
    height: auto;
    margin: auto;
    margin-top: 48vh;
    margin-left: 73%;
    position: absolute;   
}

.boxes img{
    width: 100%;
    height: 100%;
}

.apps{
    width: 100%;
    height: 93.1vh;
    background-color: white;
}

.apps img{
    width: 100%;
    height: 100%;

}


.i1{
    position: absolute;
    top: 5%;
    margin-left: 14.5vw;
    width: 17vw;
    height: auto;
    margin-top: 30vh;
    background-color: white;
    background:white;}

.i2{
    width: 17vw;
    height: auto;
    margin: auto;
    margin-top: 30vh;
    margin-left:40%;
    position: absolute;
    top: 5%;
    background-color: white;
    background:white;
}

.i3{
    width: 17vw;
    height: auto;
    margin: auto;
    margin-top: 30vh;
    margin-left:68.5%;
    position: absolute;
    top: 5%;
    background-color: white;
    background:white;
}

@media screen and (max-width: 1000px) {
    .b1{
    width: 35%;
    height: auto;
    margin: auto;
    margin-top: 4vh;
    margin-left:10%;
    position: absolute;
}

.b2{
    width: 35%;
    height: auto;
    margin: auto;
    margin-left: 55%;
    margin-top: 4vh;
    position: absolute;
}

.b3{
    width: 35%;
    height: auto;
    margin: auto;
    margin-top: 53vh;
    margin-left: 10%;
    position: absolute;
}

.b4{
    width: 35%;
    height: auto;
    margin: auto;
    margin-top: 53vh;
    margin-left: 55%;
    position: absolute;   
}

.b5{
    width: 35%;
    height: auto;
    margin: auto;
    margin-top: 102vh;
    margin-left:10%;
    position: absolute;
}

.b6{
    width: 35%;
    height: auto;
    margin: auto;
    margin-left: 55%;
    margin-top: 102vh;
    position: absolute;
}

.b7{
    width: 35%;
    height: auto;
    margin: auto;
    margin-top: 151vh;
    margin-left: 10%;
    margin-bottom: 4vh;
    position: absolute;
}

.b8{
    width: 35%;
    height: auto;
    margin: auto;
    margin-top: 151vh;
    margin-left: 55%;
    margin-bottom: 4vh;
    position: absolute;   
}
  }

  @media screen and (max-width: 600px) {
    .b1{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 4vh;
    margin-left:10%;
    position: absolute;
}

.b2{
    width: 80%;
    height: auto;
    margin: auto;
    margin-left: 10%;
    margin-top: 60vh;
    position: absolute;
}

.b3{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 116vh;
    margin-left: 10%;
    position: absolute;
}

.b4{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 172vh;
    margin-left: 10%;
    position: absolute;   
}

.b5{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 228vh;
    margin-left:10%;
    position: absolute;
}

.b6{
    width: 80%;
    height: auto;
    margin: auto;
    margin-left: 10%;
    margin-top: 284vh;
    position: absolute;
}

.b7{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 340vh;
    margin-left: 10%;
    position: absolute;
}

.b8{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 396vh;
    margin-left: 10%;
    margin-bottom: 4vh;
    position: absolute;   
}

.i1{
    position: absolute;
    top: 5%;
    margin-left: 40vw;
    width: 17vw;
    height: auto;
    margin-top: 30vh;
    background-color: white;
    background:white;}

.i2{
    width: 17vw;
    height: auto;
    margin: auto;
    margin-top: 45vh;
    margin-left:40%;
    position: absolute;
    top: 5%;
    background-color: white;
    background:white;
}

.i3{
    width: 17vw;
    height: auto;
    margin: auto;
    margin-top: 60vh;
    margin-left:40%;
    position: absolute;
    top: 5%;
    background-color: white;
    background:white;
}
  }

